services:
  <name>:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    container_name: <container_name>
    ports:
      - "3000:3000"
    expose:
      - 3000
    stdin_open: true
    tty: true
    environment:
      - NODE_ENV=development
      - PORT=3000
    volumes:
      - ./:/usr/app
      - /usr/app/node_modules
